# .coveragerc to control coverage.py
[run]
source = .
omit =
    *tests*
    *migrations*
    *settings
    *wsgi.py
    manage.py
    card_catalog/celery_app.py
    *test_*
    *setup.py

[report]
exclude_lines =
    print
    if __name__ == .__main__.:
    return open(os.path.join(os.path.dirname(__file__), fname)).read()
    def read(fname):
    except Card.DoesNotExist:
