interactions:
- request:
    body: grant_type=client_credentials&client_id=A2345857-0D90-4DCA-B289-EC52B35BED33&client_secret=BFF7566B-1C32-4610-AED2-55365BD5C1ED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.tcgplayer.com/token
  response:
    body:
      string: '{"access_token":"bsj309j7gmtM24JWM3G1hMHFp89n4ppOay9jt91Qz93dvmdyv9CMFuYR80M_aluvJKq15wqSeLLhs5MxqdH3VQffDY_v7KGLVd0Vax9oBv6wha6l1NyNeMmbXwp8Rv83QXZ45xrmRPrj6gxWZB07zhNKgZpJIrNQOA_oKLOMpWW1E9Ou5bJXmEm-msqf56UY9kuEw2Xl7jQIayfChODaDh1COcCwccm3GR_jypg6sb8dftgZGNcEIJq13OA9WUnY9JAI2DpVpD_Kw-ZwKmXFdpcSVnGM_pQNnSb7U-wjuouzxFDA1HCN3uTR0Ecd3CsNM1Sy2Q","token_type":"bearer","expires_in":1209599,"userName":"a2345857-0d90-4dca-b289-ec52b35bed33",".issued":"Fri,
        05 Apr 2019 19:03:26 GMT",".expires":"Fri, 19 Apr 2019 19:03:26 GMT"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - bearer bsj309j7gmtM24JWM3G1hMHFp89n4ppOay9jt91Qz93dvmdyv9CMFuYR80M_aluvJKq15wqSeLLhs5MxqdH3VQffDY_v7KGLVd0Vax9oBv6wha6l1NyNeMmbXwp8Rv83QXZ45xrmRPrj6gxWZB07zhNKgZpJIrNQOA_oKLOMpWW1E9Ou5bJXmEm-msqf56UY9kuEw2Xl7jQIayfChODaDh1COcCwccm3GR_jypg6sb8dftgZGNcEIJq13OA9WUnY9JAI2DpVpD_Kw-ZwKmXFdpcSVnGM_pQNnSb7U-wjuouzxFDA1HCN3uTR0Ecd3CsNM1Sy2Q
    method: GET
    uri: http://api.tcgplayer.com/catalog/products?categoryId=1&limit=100&groupId=1649
  response:
    body:
      string: '{"totalItems":45,"success":true,"errors":[],"results":[{"productId":104306,"name":"Arid
        Mesa","cleanName":"Arid Mesa","imageUrl":"https://6d4be195623157e28848-7697ece4918e0a73861de0eb37d08968.ssl.cf1.rackcdn.com/104306_200w.jpg","categoryId":1,"groupId":1649,"url":"https://store.tcgplayer.com/magic/zendikar-expeditions/arid-mesa","modifiedOn":"2018-09-04T17:15:45.61"},{"productId":104307,"name":"Steam
        Vents","cleanName":"Steam Vents","imageUrl":"https://6d4be195623157e28848-7697ece4918e0a73861de0eb37d08968.ssl.cf1.rackcdn.com/104307_200w.jpg","categoryId":1,"groupId":1649,"url":"https://store.tcgplayer.com/magic/zendikar-expeditions/steam-vents","modifiedOn":"2018-04-24T16:13:37.543"},{"productId":104372,"name":"Hallowed
        Fountain","cleanName":"Hallowed Fountain","imageUrl":"https://6d4be195623157e28848-7697ece4918e0a7[...]
- request:
    body: null
    headers:
      Authorization:
      - bearer bsj309j7gmtM24JWM3G1hMHFp89n4ppOay9jt91Qz93dvmdyv9CMFuYR80M_aluvJKq15wqSeLLhs5MxqdH3VQffDY_v7KGLVd0Vax9oBv6wha6l1NyNeMmbXwp8Rv83QXZ45xrmRPrj6gxWZB07zhNKgZpJIrNQOA_oKLOMpWW1E9Ou5bJXmEm-msqf56UY9kuEw2Xl7jQIayfChODaDh1COcCwccm3GR_jypg6sb8dftgZGNcEIJq13OA9WUnY9JAI2DpVpD_Kw-ZwKmXFdpcSVnGM_pQNnSb7U-wjuouzxFDA1HCN3uTR0Ecd3CsNM1Sy2Q
    method: GET
    uri: http://api.tcgplayer.com/catalog/products?categoryId=1&limit=100&groupId=[...]
[...]
