interactions:
- request:
    body: grant_type=client_credentials&client_id=A2345857-0D90-4DCA-B289-EC52B35BED33&client_secret=BFF7566B-1C32-4610-AED2-55365BD5C1ED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.tcgplayer.com/token
  response:
    body:
      string: '{"access_token":"ehwh1L9oCk9zfBo25CpxRZUsMss_j-6qgbkq484Tp461rHCvzBCLIAHkmNl_pGeaWLAKYSAQZcnX2GfMbXbkJBSotojniZrVbef_0HlArxJ_hJ5eheqbFM3BfalJ7H1q96ycW_NvmvEYuMG3dVHDBVW8DTez9oPbGKt1MVcjY2yFwKgOLIPoZpqTLNMDUCU4AxhkszAY92PovCIOCWwyJhYvAXUtBssqNejc8wBL7K4Gi2yOi5-L1R6WOrTaJmTr35DMrny1z6i0gIxYbGaoARFWtlFt7jUs_49E286TypLoIwT3jAXbpqjNTVYSNTLKqt5bjA","token_type":"bearer","expires_in":1209599,"userName":"a2345857-0d90-4dca-b289-ec52b35bed33",".issued":"Mon,
        08 Apr 2019 23:45:48 GMT",".expires":"Mon, 22 Apr 2019 23:45:48 GMT"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - bearer ehwh1L9oCk9zfBo25CpxRZUsMss_j-6qgbkq484Tp461rHCvzBCLIAHkmNl_pGeaWLAKYSAQZcnX2GfMbXbkJBSotojniZrVbef_0HlArxJ_hJ5eheqbFM3BfalJ7H1q96ycW_NvmvEYuMG3dVHDBVW8DTez9oPbGKt1MVcjY2yFwKgOLIPoZpqTLNMDUCU4AxhkszAY92PovCIOCWwyJhYvAXUtBssqNejc8wBL7K4Gi2yOi5-L1R6WOrTaJmTr35DMrny1z6i0gIxYbGaoARFWtlFt7jUs_49E286TypLoIwT3jAXbpqjNTVYSNTLKqt5bjA
    method: GET
    uri: http://api.tcgplayer.com/catalog/products?categoryId=1&limit=100&groupId=1
  response:
    body:
      string: '{"totalItems":397,"success":true,"errors":[],"results":[{"productId":15023,"name":"Abundance","cleanName":"Abundance","imageUrl":"https://6d4be195623157e28848-7697ece4918e0a73861de0eb37d08968.ssl.cf1.rackcdn.com/15023_200w.jpg","categoryId":1,"groupId":1,"url":"https://store.tcgplayer.com/magic/10th-edition/abundance","modifiedOn":"2018-01-18T05:00:51.473"},{"productId":15024,"name":"Academy
        Researchers","cleanName":"Academy Researchers","imageUrl":"https://6d4be195623157e28848-7697ece4918e0a73861de0eb37d08968.ssl.cf1.rackcdn.com/15024_200w.jpg","categoryId":1,"groupId":1,"url":"https://store.tcgplayer.com/magic/10th-edition/academy-researchers","modifiedOn":"2013-05-09T12:13:41.653"},{"productId":15025,"name":"Adarkar
        Wastes","cleanName":"Adarkar Wastes","imageUrl":"https://6d4be195623157e28848-7697ece491[...]
- request:
    body: null
    headers:
      Authorization:
      - bearer ehwh1L9oCk9zfBo25CpxRZUsMss_j-6qgbkq484Tp461rHCvzBCLIAHkmNl_pGeaWLAKYSAQZcnX2GfMbXbkJBSotojniZrVbef_0HlArxJ_hJ5eheqbFM3BfalJ7H1q96ycW_NvmvEYuMG3dVHDBVW8DTez9oPbGKt1MVcjY2yFwKgOLIPoZpqTLNMDUCU4AxhkszAY92PovCIOCWwyJhYvAXUtBssqNejc8wBL7K4Gi2yOi5-L1R6WOrTaJmTr35DMrny1z6i0gIxYbGaoARFWtlFt7jUs_49E286TypLoIwT3jAXbpqjNTVYSNTLKqt5bjA
    method: GET
    uri: http://api.tcgplayer.com/catalog/products?categoryId=1&limit=100&groupId=[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - bearer LsaYhoe-JF0Gv0hTWUhFuSh5xiZmI7blz0RQOKfgLSoQ4AYM5ZPHhA_aMp6OBvnhI2M-Vgf1yB1eDTPsx77N_vzymZmkg_iogdloRn85_Kv12i_J_GTAhdBYCIAQmXM2Y_Ng8dtktfOfIsVBKuv8j_0yacpQ7FzZP87ZucouGXAaj-CYn81sn43fVpUmbcQZmjW0-R5fQ9bR_T_VBTcom9dsb2-PzYTOSUcVwVCZv1d3rIKbd4CgN_3Xz8Dk2YA3SeJqlNTo420Ev1aQEhtPs1-49UwHFYBzoJEaSlo9o2tDsAi1kjCrzb5g0WAxtXmOXsSoFg
    method: GET
    uri: http://api.tcgplayer.com/v1.19.0/pricing/group/1?categoryId=1&limit=100&groupId=1
  response:
    body:
      string: '{"success":true,"errors":[],"results":[{"productId":15023,"lowPrice":0.51,"midPrice":1.82,"highPrice":3.99,"marketPrice":1.74,"directLowPrice":0.5200,"subTypeName":"Normal"},{"productId":15023,"lowPrice":32.32,"midPrice":32.97,"highPrice":34.95,"marketPrice":29.34,"directLowPrice":null,"subTypeName":"Foil"},{"productId":15024,"lowPrice":0.10,"midPrice":0.29,"highPrice":1.11,"marketPrice":0.14,"directLowPrice":0.1000,"subTypeName":"Normal"},{"productId":15024,"lowPrice":0.99,"midPrice":2.49,"highPrice":4.31,"marketPrice":2.37,"directLowPrice":1.4700,"subTypeName":"Foil"},{"productId":15025,"lowPrice":6.00,"midPrice":8.25,"highPrice":10.97,"marketPrice":7.72[...]
