interactions:
- request:
    body: grant_type=client_credentials&client_id=A2345857-0D90-4DCA-B289-EC52B35BED33&client_secret=BFF7566B-1C32-4610-AED2-55365BD5C1ED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.tcgplayer.com/token
  response:
    body:
      string: '{"access_token":"lYYKlQNPtzE14Sb7UhwHO0M3R9uxZdISOkTYQnqK-Fz0zDXmX0j-78PQkcVV9U6fBfwNX7VghNgxXJJOgOBAs8QHg4kvdR1j5BLAVgGHCOO4kHvjJn3Eugap4gntikjBURSdeMT8Q27u9vspx47E8P1_lhWENL-FCQDRPxjL1pIiMZ9LLkXIOiyyp3_vrGazc71VXeXxfXqs3-myYjSRtiFP8p9ZW8J6zyFHyUt56saruPktvpYuXtulapU4I0aDSv-QIW31DgaZ5QFVfDOv2s36D8_HtaVRSS3RNmseNEuH9RkTFgAoyiusGIHrjGNzIzCbWw","token_type":"bearer","expires_in":1209599,"userName":"a2345857-0d90-4dca-b289-ec52b35bed33",".issued":"Fri,
        05 Apr 2019 19:03:36 GMT",".expires":"Fri, 19 Apr 2019 19:03:36 GMT"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - bearer lYYKlQNPtzE14Sb7UhwHO0M3R9uxZdISOkTYQnqK-Fz0zDXmX0j-78PQkcVV9U6fBfwNX7VghNgxXJJOgOBAs8QHg4kvdR1j5BLAVgGHCOO4kHvjJn3Eugap4gntikjBURSdeMT8Q27u9vspx47E8P1_lhWENL-FCQDRPxjL1pIiMZ9LLkXIOiyyp3_vrGazc71VXeXxfXqs3-myYjSRtiFP8p9ZW8J6zyFHyUt56saruPktvpYuXtulapU4I0aDSv-QIW31DgaZ5QFVfDOv2s36D8_HtaVRSS3RNmseNEuH9RkTFgAoyiusGIHrjGNzIzCbWw
    method: GET
    uri: http://api.tcgplayer.com/catalog/groups?categoryId=1&limit=100
  response:
    body:
      string: '{"totalItems":238,"success":true,"errors":[],"results":[{"groupId":1,"name":"10th
        Edition","abbreviation":"10E","isSupplemental":false,"publishedOn":"2007-07-13T00:00:00","modifiedOn":"2019-04-04T17:47:05.71","categoryId":1},{"groupId":2,"name":"7th
        Edition","abbreviation":"7ED","isSupplemental":false,"publishedOn":"2001-04-11T00:00:00","modifiedOn":"2019-03-31T16:41:20.503","categoryId":1},{"groupId":3,"name":"8th
        Edition","abbreviation":"8ED","isSupplemental":false,"publishedOn":"2003-04-28T00:00:00","modifiedOn":"2019-03-31T14:25:17.45","categoryId":1},{"groupId":4,"name":"9th
        Edition","abbreviation":"9ED","isSupplemental":false,"publishedOn":"2005-04-29T00:00:00","modifiedOn":"2019-03-[...]
- request:
    body: null
    headers:
      Authorization:
      - bearer lYYKlQNPtzE14Sb7UhwHO0M3R9uxZdISOkTYQnqK-Fz0zDXmX0j-78PQkcVV9U6fBfwNX7VghNgxXJJOgOBAs8QHg4kvdR1j5BLAVgGHCOO4kHvjJn3Eugap4gntikjBURSdeMT8Q27u9vspx47E8P1_lhWENL-FCQDRPxjL1pIiMZ9LLkXIOiyyp3_vrGazc71VXeXxfXqs3-myYjSRtiFP8p9ZW8J6zyFHyUt56saruPktvpYuXtulapU4I0aDSv-QIW31DgaZ5QFVfDOv2s36D8_HtaVRSS3RNmseNEuH9RkTFgAoyiusGIHrjGNzIzCbWw
    method: GET
    uri: http://api.tcgplayer.com/catalog/groups?categoryId=1&limit=100&offset=0
 [...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - bearer lYYKlQNPtzE14Sb7UhwHO0M3R9uxZdISOkTYQnqK-Fz0zDXmX0j-78PQkcVV9U6fBfwNX7VghNgxXJJOgOBAs8QHg4kvdR1j5BLAVgGHCOO4kHvjJn3Eugap4gntikjBURSdeMT8Q27u9vspx47E8P1_lhWENL-FCQDRPxjL1pIiMZ9LLkXIOiyyp3_vrGazc71VXeXxfXqs3-myYjSRtiFP8p9ZW8J6zyFHyUt56saruPktvpYuXtulapU4I0aDSv-QIW31DgaZ5QFVfDOv2s36D8_HtaVRSS3RNmseNEuH9RkTFgAoyiusGIHrjGNzIzCbWw
    method: GET
    uri: http://api.tcgplayer.com/catalog/groups?categoryId=1&limit=100&offset=200
  response:
    body:
      string: '{"totalItems":238,"success":true,"errors":[],"results":[{"groupId":103,"name":"Shards
        of Alara","abbreviation":"ALA","isSupplemental":false,"publishedOn":"2008-10-03T00:00:00","modifiedOn":"2019-04-05T17:06:24.893","categoryId":1},{"groupId":2220,"name":"Signature
        Spellbook: Jace","abbreviation":"SS1","isSupplemental":true,"publishedOn":"2018-06-15T00:00:00","modifiedOn":"2019-03-10T19:26:32.993","categoryId":1},{"groupId":104,"name":"Special
        Occasion","abbreviation":"SPECIAL","isSupplemental":true,"publishedOn":"2006-12-02T00:00:00","modifiedOn":"2018-12-28T16:13:05.84","categoryId":1},{"groupId":2307,"name":"Spellslinger
        Starter Kit","abbreviation":"SSK","isSupplemental":false,"publishedOn":"2018-10-05T00:00:00","modifiedOn":"2018-08-20T20:22:41.1[...]
