interactions:
- request:
    body: grant_type=client_credentials&client_id=A2345857-0D90-4DCA-B289-EC52B35BED33&client_secret=BFF7566B-1C32-4610-AED2-55365BD5C1ED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.tcgplayer.com/token
  response:
    body:
      string: '{"access_token":"WIjh-5ORUAUwGqoaM7rZQAxU68CjxIcRoRJFpuTflYqlOR58SwpoOgv7d3aNetBklt0baS1dmXK470Q4xIm8cZrfua4OG9nAtkSp2S-pt1dhMhUiFV-gKpMQz8Q_iNSsbFuHd8u_CvkgbVeA94F3FdvhhKiiIQ4_TD7v461X-7WcwMnWfQfwj5IqokVcVfn2QUEHeqDaZcQ5GzERH_6GiGRck89WLysQ53h5Qo05QT3CE2HrNr6sA_nt5KRX5tIdkJbm6TqxrFlDnedrS6ABMdfn_oxFiXTwyvWmrDKR9SA5B8epvId0fej38UgSApz2KfG5cA","token_type":"bearer","expires_in":1209599,"userName":"a2345857-0d90-4dca-b289-ec52b35bed33",".issued":"Mon,
        08 Apr 2019 23:45:58 GMT",".expires":"Mon, 22 Apr 2019 23:45:58 GMT"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - bearer WIjh-5ORUAUwGqoaM7rZQAxU68CjxIcRoRJFpuTflYqlOR58SwpoOgv7d3aNetBklt0baS1dmXK470Q4xIm8cZrfua4OG9nAtkSp2S-pt1dhMhUiFV-gKpMQz8Q_iNSsbFuHd8u_CvkgbVeA94F3FdvhhKiiIQ4_TD7v461X-7WcwMnWfQfwj5IqokVcVfn2QUEHeqDaZcQ5GzERH_6GiGRck89WLysQ53h5Qo05QT3CE2HrNr6sA_nt5KRX5tIdkJbm6TqxrFlDnedrS6ABMdfn_oxFiXTwyvWmrDKR9SA5B8epvId0fej38UgSApz2KfG5cA
    method: GET
    uri: http://api.tcgplayer.com/catalog/groups?categoryId=1&limit=100
  response:
    body:
      string: '{"totalItems":238,"success":true,"errors":[],"results":[{"groupId":1,"name":"10th
        Edition","abbreviation":"10E","isSupplemental":false,"publishedOn":"2007-07-13T00:00:00","modifiedOn":"2019-04-06T11:59:26.71","categoryId":1},{"groupId":2,"name":"7th
        Edition","abbreviation":"7ED","isSupplemental":false,"publishedOn":"2001-04-11T00:00:00","modifiedOn":"2019-03-31T16:41:20.503","categoryId":1},{"groupId":3,"name":"8th
        Edition","abbreviation":"8ED","isSupplemental":false,"publishedOn":"2003-04-28T00:00:00","modifiedOn":"2019-04-08T11:45:59.757","categoryId":1},{"groupId":4,"name":"9th
        Edition","abbreviation":"9ED","isSupplemental":false,"publishedOn":"2005-04-29T00:00:00","modifiedOn":"2019-04[...]
- request:
    body: null
    headers:
      Authorization:
      - bearer WIjh-5ORUAUwGqoaM7rZQAxU68CjxIcRoRJFpuTflYqlOR58SwpoOgv7d3aNetBklt0baS1dmXK470Q4xIm8cZrfua4OG9nAtkSp2S-pt1dhMhUiFV-gKpMQz8Q_iNSsbFuHd8u_CvkgbVeA94F3FdvhhKiiIQ4_TD7v461X-7WcwMnWfQfwj5IqokVcVfn2QUEHeqDaZcQ5GzERH_6GiGRck89WLysQ53h5Qo05QT3CE2HrNr6sA_nt5KRX5tIdkJbm6TqxrFlDnedrS6ABMdfn_oxFiXTwyvWmrDKR9SA5B8epvId0fej38UgSApz2KfG5cA
    method: GET
    uri: http://api.tcgplayer.com/catalog/groups?categoryId=1&limit=100&offset=0
 [...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - bearer WIjh-5ORUAUwGqoaM7rZQAxU68CjxIcRoRJFpuTflYqlOR58SwpoOgv7d3aNetBklt0baS1dmXK470Q4xIm8cZrfua4OG9nAtkSp2S-pt1dhMhUiFV-gKpMQz8Q_iNSsbFuHd8u_CvkgbVeA94F3FdvhhKiiIQ4_TD7v461X-7WcwMnWfQfwj5IqokVcVfn2QUEHeqDaZcQ5GzERH_6GiGRck89WLysQ53h5Qo05QT3CE2HrNr6sA_nt5KRX5tIdkJbm6TqxrFlDnedrS6ABMdfn_oxFiXTwyvWmrDKR9SA5B8epvId0fej38UgSApz2KfG5cA
    method: GET
    uri: http://api.tcgplayer.com/catalog/groups?categoryId=1&limit=100&offset=200
  response:
    body:
      string: '{"totalItems":238,"success":true,"errors":[],"results":[{"groupId":103,"name":"Shards
        of Alara","abbreviation":"ALA","isSupplemental":false,"publishedOn":"2008-10-03T00:00:00","modifiedOn":"2019-04-08T18:12:35.743","categoryId":1},{"groupId":2220,"name":"Signature
        Spellbook: Jace","abbreviation":"SS1","isSupplemental":true,"publishedOn":"2018-06-15T00:00:00","modifiedOn":"2019-04-08T14:49:03.76","categoryId":1},{"groupId":104,"name":"Special
        Occasion","abbreviation":"SPECIAL","isSupplemental":true,"publishedOn":"2006-12-02T00:00:00","modifiedOn":"2018-12-28T16:13:05.84","categoryId":1},{"groupId":2307,"name":"Spellslinger
        Starter Kit","abbreviation":"SSK","isSupplemental":false,"publishedOn":"2018-10-05T00:00:00","modifiedOn":"2018-08-20T20:22:41.12[...]
